body {
    background-color: rgba(50, 100, 255, 0.4);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: 500px;
    font-family: helvetica;
    font-size: 1.2rem;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

header {
    width: 100%;
}

#survey-form {
    background-color: rgba(50, 100, 255, 0.7);
    margin: 12rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.input-section {
    width: 100%;
    display: flex;
    margin: 0.5rem;
    flex-wrap: wrap;
    justify-content: start;
    text-align: start;
}

.input-section label {
    width: 40%;
    margin-bottom: 0.5rem;
}

.input-section input, select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: hidden;
    outline: none;
    color: #555;
}

.radio-section {
    width: 100%;
    display: flex;
    margin: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: start;
    align-items: center;
}

.radio-section label {
    width: 100%;
    margin: 0.5rem;
}

.radio-section input {
    margin: 0.5rem;
}

.checkbox-section {
    width: 100%;
    display: flex;
    margin: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: start;
    align-items: center;
}

.checkbox-section label {
    width: 100%;
    margin: 0.5rem;
}

.checkbox-section input {
    margin: 0.5rem;
}

.tarea-section {
    width: 100%;
    display: flex;
    margin: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: start;
    align-items: center;
}

.tarea-section label {
    width:100%;
    margin-bottom: 0.5rem;
}

.tarea-section textarea {
    width: 100%;
    min-height: 120px;
    padding: 0.625rem;
}

.button-section {
    width: 100%;
    display: flex;
    margin: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: start;
    align-items: center;
}

#submit {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    border:hidden;
    background-color: #33FF28;
}

#submit:hover {
    background-color: #11FF05;
}

@media (max-width: 1000px) {
    #survey-form {
        margin: 4rem;
    }
}

@media (max-width: 500px) {
    #survey-form {
        margin: 0;
    }
}
